<section>
    <h1>LOCATIONS </h1>
    {{#each locations}}
    <article class="locations">
        <ul>

        <li><h4><a href="/locations/{{id}}">{{name}}</a></h4></li>
        </ul>
    </article>
    {{/each}}
</section>