<section>
    <h1>EVENTS </h1>
    {{#each event}}
    <article class="event">
        <ul>

        <li><h4><a href="/events/{{this.id}}">{{this.title}}</a></h4></li>
        </ul>
    </article>
    {{/each}}
</section>